@import url(../css/switzer.css);

/* Reset Browser + Setup Font Family */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Switzer-Regular";
}

/* Global CSS */
.container {
  max-width: 1280px;
}

.column {
  padding-left: 16px;
  padding-right: 16px;
}

.column-3 {
  width: calc(100% / 3);
}

/* Overlay of search popup */
body.darken::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dark background with 50% opacity */
  z-index: 98;
}

/* Overlay of shopping-cart */
body.darken-2::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dark background with 50% opacity */
  z-index: 98;
}

/* Main Menu */

.main-menu {
  height: 80px;
  /* background-color: #fff7ea; */
  z-index: 2;
}

.main-menu .container {
  height: 80px;
  background-color: white;
  border-radius: 10px;
}

.wrap-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.main-menu .wrap-menu .logo img {
  width: 200px;
  object-fit: cover;
}

/* Main Section */
.main-section {
  position: relative;
}

.main-section .menu-list {
  display: flex;
  padding: 0;
  padding-right: 30px;
  margin-top: 13px;
}

.menu-list {
  position: relative;
}

.menu-list li {
  list-style: none;
  padding: 20px;
  font-size: 16px;
}

.menu-list li a span {
  font-weight: 600;
}

.menu-list .active a {
  border-bottom: 2px solid #000;
  transition: all 0.1s;
}

.menu-list li a:hover {
  border-bottom: 2px solid #000;
  transition: all 0.1s;
}

.menu-list li a {
  text-decoration: none;
  color: black;
  border: none;
  font-weight: 600;
}

.product-menu {
  font-weight: 600;
}

.sub-menu {
  position: absolute;
  z-index: 5;
  background-color: #fff;
  top: 65px;
  width: 150px;
  opacity: 0;
  transform: translateY(15%);
  border-radius: 10px;
  filter: drop-shadow(2px 3px 8px #cfcfcf);
}

.sub-menu ul {
  padding-left: 10px;
  padding-top: 10px;
}

.sub-menu ul .sub-item {
  padding: 0;
}

.product-menu:hover .sub-menu-1 {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.3s ease;
}

/* User Logo */
.wrap-menu .user-logo .wrap-user-logo {
  display: flex;
  justify-content: space-between;
}
.wrap-menu .user-logo .wrap-user-logo i {
  font-size: 20px;
  position: relative;
  padding: 10px;
}

.wrap-menu .user-logo .wrap-user-logo i span {
  position: absolute;
  background-color: red;
  font-size: 12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 60%;
  right: 0%;
  color: #fff7ea;
}

.wrap-menu .user-logo .wrap-user-logo i:hover {
  background-color: #f2953f;
  color: #fff;
  border-radius: 50%;
  transition: all 0.2s;
}

/* Subbanner */
.sub-banner-section {
  width: 100%;
}
.sub-banner-section .container {
  max-width: 100%;
  padding: 0;
  overflow: hidden;
}

.wrap-sub-banner {
  width: 100%;
  height: 80px;
  background-image: url(../images/SubBanner/subbanner-1.png);
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap-sub-banner p {
  font-family: "Switzer Light";
  font-size: 1.5rem;
  margin-bottom: 0;
}

.wrap-sub-banner p a {
  text-decoration: none;
  color: #fff;
}

/* Main Title Section */
.main-title-section {
  width: 100%;
  height: 205px;
  background-color: #f2f6f9;
}

.wrap-main-title {
  width: 100%;
  height: 205px;
  display: flex;
}

.wrap-main-title .main-sub-title {
  width: 50%;
  height: 100%;
}

.main-sub-title p,
.main-sub-title span {
  display: inline-block;
  margin-top: 45px;
}

.main-sub-title span {
  color: #0017e6;
}
.main-sub-title p {
  margin-right: 5px;
}

.wrap-main-title .main-sub-title h1 {
  font-weight: 600;
}

.wrap-main-title .title-image {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.wrap-main-title .title-image img {
  width: 200px;
  object-fit: cover;
}

/* Body Section */
.body-section {
  margin-top: 50px;
}

.body-section .container {
  /* height: 1000px; */
  /* background-color: pink; */
  display: flex;
  justify-content: space-between;
}

.filter-info {
  width: 25%;
  /* height: 500px; */
  /* background-color: #f2f6f9; */
}

.filter-info .categories-filter {
  width: 100%;
}

.filter-title {
  height: 40px;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #0487ff;
}

.filter-title p {
  margin-bottom: 0;
}

.filter-title i {
  display: flex;
  align-items: center;
}

.categories-title {
  margin-top: 10px;
}
.filter-list {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}
.filter-list li {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
.filter-list .filter-info {
  margin-right: 7px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.price-filter {
  margin-top: 30px;
  width: 100%;
}

.brand-filter {
  margin-top: 30px;
  width: 100%;
}

.brand-list {
  padding: 10px 6px;
}

.brand-list img {
  width: 20%;
  object-fit: cover;
  margin-bottom: 10px;
}
.brand-list a {
  margin-right: 10px;
}

.brand-list .xiaomi-logo {
  width: 12%;
  object-fit: cover;
  margin-left: 13px;
}

.brand-list .huawei-logo {
  width: 25%;
  object-fit: cover;
}

.brand-list .oneplus-logo {
  width: 15%;
  margin-right: 10px;
}

.product-row {
  width: 72%;
  /* background-color: #cfcfcf; */
}

.product-row .row-custom {
  /* margin: 0 -16px; */
  display: flex;
  flex-wrap: wrap;
}

.row-custom .wrap-product {
  width: 100%;
  margin-bottom: 2rem;
  position: relative;
}

.wrap-product .product-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-image img {
  width: 80%;
  object-fit: cover;
}

.product-text {
  margin-top: 1rem;
}

.product-text .product-name {
  margin-bottom: 10px;
  color: #919191;
}

.product-text .product-price {
  color: #fcb675;
}

.product-text p {
  margin-bottom: 0;
}

.product-row a {
  text-decoration: none;
  color: #000;
}

.wrap-product .cart-product-button {
  position: absolute;
  bottom: 30%;
  right: 0%;
  opacity: 0;
  transition: .2s all;
}

.wrap-product .cart-product-button button {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background-color: #fe6d7d;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}

.wrap-product:hover .cart-product-button {
  opacity: 1;
  z-index: 1;
}

/* Below Buttons */
.below-buttons {
  margin-top: 50px;
}

.wrap-below-buttons {
  display: flex;
  justify-content: space-between;
}

.wrap-below-buttons .blank {
  width: 100px;
  height: 20px;
  /* background-color:#919191 ; */
}

.show-more-buttons button {
  padding: 8px 36px;
  border: none;
  border-radius: 5px;
  background-color: #e7e9ef;
  transition: all 0.3s;
}

.show-more-buttons button:hover {
  transform: scale(1.1);
}

/* Newsletter Section */
.newsletter-section {
  margin-top: 6.25rem;
  position: relative;
}

.newsletter-section .container {
  padding: 0;
  overflow: hidden;
}

.newsletter-bg {
  width: 100%;
  position: relative;
}
.newsletter-bg img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 1.25rem;
}
.newsletter-text {
  position: absolute;
  top: 30%;
  left: 10%;
}

.sub-newsletter-title p {
  font-size: 1rem;
  color: #0487ff;
}

.sub-newsletter-title h2 {
  font-weight: 600;
  margin-bottom: 2.5rem;
}

.sub-newsletter-title i {
  background-color: #0487ff;
}

.newsletter-input {
  width: 100%;
  margin-top: 1.875rem;
  display: flex;
}

.newsletter-input input {
  width: 23.75rem;
  height: 3.75rem;
  padding-left: 1.25rem;
  border-radius: 0.5rem;
  border: none;
}

.newsletter-input button {
  margin-left: 2.5rem;
  padding: 0.8125rem 2.8125rem; /* 13px 45px equivalent */
  border-radius: 0.625rem; /* 10px equivalent */
  border: none;
  background-color: #000;
  color: #fff;
  font-weight: 500;
  font-size: 1.2rem;
}
.newsletter-input input::placeholder {
  color: #cfcfcf;
}

.sub-info-title {
  margin-top: 5px;
}

.sub-info-title i {
  margin-top: -3px;
  margin-right: 8px;
  width: 35px;
  height: 35px;
  background-color: #0487ff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.sub-info-title p {
  display: flex;
  margin-bottom: 10px;
  color: #0487ff;
  font-weight: 600;
}

.sub-info-title h2 {
  font-weight: 600;
}

/* Footer */
.footer {
  margin-top: 100px;
}

.footer .container {
  border-top: 0.5px #cfcfcf solid;
  border-bottom: 0.5px #cfcfcf solid;
}

.footer .wrap-footer {
  margin-top: 30px;
  font-size: 20px;
}

.wrap-footer .footer-sub-title {
  font-weight: 600;
  margin-bottom: 20px;
}

.wrap-footer .footer-detail i {
  margin-right: 8px;
}

.wrap-footer .footer-content ul {
  list-style: none;
}

.wrap-footer .footer-content ul li {
  padding-bottom: 20px;
}
.wrap-footer .footer-content ul li a {
  text-decoration: none;
  color: #000;
}

/* Footer Bottom */
.wrap-footer-bottom {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.footer-bottom .row {
  width: 100%;
}

.wrap-footer-bottom p {
  color: #cfcfcf;
}

/* Search Box */
.search-box {
  position: fixed;
  z-index: -99;
  width: 80%;
  height: 600px;
  background-color: rgb(255, 255, 255);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  opacity: 0;
  transition: all 0.2s;
  overflow: auto;
}

#search-input {
  margin-top: 50px;
}

#search-input .form-floating {
  display: flex;
  justify-content: center;
}

#search-input .form-floating input {
  width: 90%;
  padding-left: 16px;
}

.form-floating label {
  margin-left: 5%;
}

#search-status {
  height: 70px;
  padding: 5px;
}

.wrap-search-status {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cfcfcf;
}

.wrap-search-status p {
  margin-bottom: 0;
}

.wrap-search-status a {
  text-decoration: none;
  color: #cfcfcf;
}

.wrap-search-product {
  margin-top: 8px;
  height: 170px;
  padding: 12px;
  border: 1px solid #cfcfcf;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrap-search-product a {
  text-decoration: none;
  color: #000;
}

.search-product-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search-image {
  width: 130px;
  margin-right: 32px;
  border-radius: 10px;
}

.search-image img {
  width: 120px;
  object-fit: cover;
}

.search-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-weight: 600;
}

.search-text p {
  margin-bottom: 0;
}

.add-to-cart-button button {
  width: 130px;
  padding: 10px 20px;
  background-color: #0487ff;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 10px;
}

.search-close-ic {
  position: absolute;
  z-index: 99;
  top: 1%;
  right: 2%;
  opacity: 0;
}

.search-close-ic i {
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #f2f6f9;
  transition: all 0.2s;
}

.search-close-ic i:hover {
  background-color: #0487ff;
  color: #fff;
}

/* Shopping Cart */
.shopping-cart {
  position: fixed;
  width: 40%;
  height: 100%;
  background-color: #fff;
  z-index: 1;
  top: 0;
  right: 0;
  overflow: auto;
  transition: all 0.2s;
  transform: translateX(100%);
  display: block;
}

.shopping-cart .cart-review {
  width: 100%;
  height: 100px;
  margin-top: 70px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #cfcfcf;
}

.cart-review h2 {
  font-size: 2rem;
  font-weight: 600;
}
.cart-review i {
  font-size: 1.2rem;
  width: 30px;
  height: 30px;
  background-color: #f2f6f9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.2s;
}

.cart-review i:hover {
  background-color: #0487ff;
  color: #fff;
}

#wrap-product-section {
  margin-top: 20px;
}

.product-cart {
  height: 150px;
  /* background-color: #0487ff; */
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.product-cart .product-name,
.product-cart .product-price {
  font-weight: 600;
}

.product-cart-image {
  width: 120px;
  position: relative;
}

.product-cart-image img {
  width: 120px;
  object-fit: cover;
}

.product-cart-image i {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: #f2f6f9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.2s;
}

.product-cart-image i:hover {
  background-color: #0487ff;
  color: #fff;
}

.product-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-quantity {
  margin-right: 10px;
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.product-quantity span {
  font-size: 1.5rem;
}

.product-quantity button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #f2f6f9;
  border: none;
  transition: all 0.2s;
}

.product-quantity button i {
  font-size: 0.8rem;
}

.product-quantity button:hover {
  transform: scale(1.2);
}



.cart-subtotal {
  border-top: 1px solid #cfcfcf;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-subtotal h2 {
  margin-bottom: 0;
}

.cart-subtotal h2,
.cart-subtotal span {
  font-size: 2rem;
  font-weight: 600;
}
.cart-button {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.cart-button button {
  width: 45%;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  margin-right: 16px;
  transform: scale(1);
  transition: all 0.2s;
}

.cart-button button:first-child {
  background-color: #0487ff;
  color: #fff;
  font-weight: 600;
}

.cart-button button:last-child {
  background-color: #fe6d7d;
  color: #fff;
  font-weight: 600;
}

.cart-button button:hover {
  transform: scale(1.05);
}
/* Mobile Menu */
.menu-mobile {
  display: none;
}

.search-mobile {
  display: none;
}

.main-section .top-menu-mobile {
  display: none;
}

/* Responsive */
/* Desktop */
@media screen and (max-width: 1279px) {
  /* Newsletter Section */
  .newsletter-text {
    width: 60%;
    text-align: left;
    top: 40%;
    left: 10%;
    transform: translate(0, -40%);
  }

  .newsletter-input {
    flex-direction: row;
    justify-content: flex-start;
  }

  .newsletter-input input {
    margin-bottom: 0;
  }
  .newsletter-input button {
    margin-left: 1.25rem;
  }
}

/* Tablet */
@media screen and (max-width: 922px) {
}

@media screen and (max-width: 898px) {
  /* Menu Mobile */
  .main-menu {
    height: 80px;
  }
  .main-menu .container {
    height: 100%;
  }
  .wrap-menu {
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
  }
  .menu-mobile {
    display: block;
  }
  .wrap-user-logo {
    align-items: center;
  }
  .wrap-user-logo .search-desktop {
    display: block;
  }
  .wrap-user-logo .user-desktop {
    display: none;
  }

  .wrap-menu .menu-mobile .logo-menu-mobile {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wrap-menu .menu-mobile .logo-menu-mobile i:hover {
    background-color: #f2953f;
    color: #fff;
    border-radius: 50%;
    transition: all 0.2s;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-menu .logo {
    padding-left: 40px;
  }

  .search-mobile {
    display: none;
  }

  .main-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #fff;
    z-index: 99;
    transform: translateX(-100%);
    transition: all 0.3s;
    /* display: none; */
  }

  .main-section .menu-list {
    flex-direction: column;
    height: auto;
    display: block;
    padding-top: 0px;
  }

  .menu-list li {
    padding-bottom: 10px;
    width: 50%;
    padding: 20px 10px;
  }

  .main-section .top-menu-mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
  }

  .top-menu-mobile img {
    width: 70%;
    object-fit: cover;
  }

  .top-menu-mobile span i {
    /* padding: 0.3rem 0.5rem; */
    background-color: #f2f6f9;
    border-radius: 50%;
    font-size: 80%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sub-menu-1 {
    display: none;
  }

  .product-menu:hover .sub-menu-mobile {
    opacity: 1;
    z-index: 1;
    display: block;
  }

  .sub-menu {
    position: absolute;
    z-index: 0;
    top: 125px;
    width: 150px;
    opacity: 0;
    transform: translateY(15%);
    filter: none;
  }
}

@media screen and (max-width: 780px) {
  /* Shopping Cart */
  .shopping-cart {
    width: 60%;
  }

  body.darken-2::before {
    width: 40%;
  }
}

/* Mobile */
@media screen and (max-width: 610px) {
  /* Newsletter Section */
  .newsletter-text {
    width: 80%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -40%);
  }

  .sub-newsletter-title p {
    font-size: 0.7rem;
  }

  .sub-newsletter-title i {
    width: 20px;
    height: 20px;
  }

  .sub-newsletter-title h2 {
    font-size: 1rem;
    margin-bottom: 1.5rem; /* 24px */
  }

  .newsletter-input input {
    width: 50%;
    max-width: 100%;
    height: 2rem; /* 48px */
    padding-left: 1rem; /* 16px */
    margin-bottom: 1rem;
  }

  .newsletter-input button {
    padding: 0 2rem;
    font-size: 0.7rem;
    height: 2rem;
  }

  .newsletter-input input::placeholder {
    color: #cfcfcf;
    font-size: 0.8rem;
  }
/* Search Box */
.wrap-search-product {
  margin-top: 8px;
  height: auto;
  padding: 12px;
  border: 1px solid #cfcfcf;
  border-radius: 20px;
  display: block;
}

.add-to-cart-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-to-cart-button button {
  width: 90%;
}

.search-product-info {
  display: flex;
}

/* Shopping Cart */
.shopping-cart {
  width: 60%;
}

.cart-button {
  flex-direction: column;
  align-content: center;
}

.cart-button button {
  width: 100%;
  margin-bottom: 10px;
}

.cart-subtotal h2,
.cart-subtotal span {
  font-size: 1.5rem;
}

/* Overlay of shopping-cart */
body.darken-2::before {
  width: 40%;
}

}

@media screen and (max-width: 480px) {
  .body-section .filter-info {
    display: none;
  }

  .product-row {
    margin: auto;
  }

  .column-2 {
    width: calc(100% / 2);
  }

  .product-row {
    width: 100%;
  }

  /* Shopping Cart */
  .shopping-cart {
    width: 80%;
  }

  body.darken-2::before {
    width: 20%;
  }
}
